
#navis-related-content-form {
    background-color: white;
    padding: .5em;
}

#related-content-wrap {
    background-color: white;
}

div.ui-dialog-titlebar {
    background-color: #333;
    color: #dedede;
}
