#navis-related-content-form {
    background-color: white;
    padding: .5em;
}

#related-search-results {
    height: 200px;
    overflow: auto;
}

#related-link-selector {
    width: 55%;
    float: left;
}

div.link {
    padding: .5em;
    border: 1px solid #ddd;
    margin-right: .25em;
    margin-left: .25em;
}

#chosen {
    width: 40%;
    float: left;
}

#chosen div {
    float: left;
    clear: both;
    width: 100%;
    margin-right: .25em;
    margin-left: .25em;
}