.related-content {
    width: 250px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

.related-content div {
    padding: 0 .5em 0 .5em;
}

.related-content p {
    font-size: 14px;
    line-height: 21px;
    clear: both;
}

.related-content .related-header {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: .25em;
}